.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  height: 70px;
  box-shadow: 0 5px 3px -2px gray;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 0 50px;
}

.links {
  display: flex;
  width: 100%;
}

.link-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: burlywood; */
  margin: 0 auto;
}
