@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

.detail {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 20px;
  width: 600px;
  margin-top: 10px;
}

.product-detail-image {
  width: 300px;
  margin-top: 20px;
}
.product-detail {
  background-color: rgba(255, 255, 255);
}
/* -----------------------------Descriptions---------------------------------------------------- */
.artist {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 4px;
  text-shadow: 2px 2px rgb(121, 118, 118);
}
.album {
  font-size: 25px;
  font-weight: 500;
  color: red;
}
.songs {
  font-size: 15px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 10px;
}
.tracks {
  font-weight: 200;
  margin-bottom: 20px;
}
.genre {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 2px;
}
.price {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 2px;
}
.year {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 2px;
}
/* -----------------------------Scrolling Image Effect------------------------------------------------------------- */
.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #121111 40%, #e0e4e6 40%);
  height: 100%;
  width: 100%;
}
/* ---------------------------------Button ------------------------------------------------------ */
.edit-btn {
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 40px;
  width: 400px;
  height: 40px;
  font-weight: bold;
  transition: 1s ease;
}

.edit-btn:hover {
  background: rgb(255, 255, 255);
  color: black;
}
