@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

.product-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #121111 40%, #e0e4e6 40%);
  width: 100%;
  overflow-y: scroll;
}

.edit-product-img {
  height: 400px;
  width: 400px;
  border: 1px solid white;
  margin-top: 50px;
}
/* ------------------------------ Form ------------------------------------------------ */
.productEditForm {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productEditForm input {
  font-size: 18px;
  width: 400px;
  margin-top: 20px;
  background-color: rgba(240, 233, 233, 0.925);
  height: 40px;
  border: none;
  color: rgb(6, 6, 6);
  padding: 0 10px;
}

/* ----------------------------- Buttons --------------------------------------------- */
.save-button {
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 40px;
  width: 400px;
  height: 40px;
  font-weight: bold;
  transition: 1s ease;
}
.save-button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.delete-button {
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 40px 0;
  width: 400px;
  height: 40px;
  font-weight: bold;
  transition: 1s ease;
}

.delete-button:hover {
  background: red;
  color: rgb(255, 255, 255);
}
