.layout {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 1fr;
  height: 100vh;
}

.layout-nav {
  grid-area: head;
}

.layout-foot {
  grid-area: foot;
}
