.search-input {
  width: 500px;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  cursor: pointer;

}

.search-icon {
  position: absolute;
  right: 0;
  margin-top: 32px;
  margin-right: 15px;
  z-index: 100;
  color: grey;
}

.search-container {
  width: 500px;
  position: relative;
}
